@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.fade-enter-active,
.fade-leave-active {
    @apply transition;
}

.fade-enter-from,
.fade-leave-to {
    @apply opacity-0;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

